</div> <!-- container -->

<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/popup_formulaire.js"></script>
<script src="js/action_equipe.js"></script>
<script src="js/action_match.js"></script>
</body>
</HTML>
