<div class="card">
    <div class="card-header">
          {{ titre }}
    </div>
    <div class="card-body">
        <div class='row'>
            {% for key, value in tab %}
              <div class='col'>
                    <div class="btn-group border" role="group" aria-label="Basic example">
                      <button type='button' class='btn btn-info btn-sm'>{{ value['Num équipe'] }}</button>
                      <button type='button' class='btn btn-info btn-sm' disabled>{{ value['Nom Equipe'] }}</button>
                    </div>
              </div>
              {% if loop.index%4 == 0 %}
              </div><div class='row'>
              {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
